.container {
    display: flex;
    flex-direction: column;
    position: relative;

    .background {
        display: flex;
        position: absolute;
        width: 389ch;
        height: 75vh;
        background-color: #F3F3F3;
        transform: rotate(-8.425deg);
        z-index: -1;
        left: -152px;
    }

    .title {
        display: flex;
        margin-top: 248px;
        justify-content: center;
        align-items: center;
    }

    .suggestsBlock {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        grid-template-columns: repeat(2, 1fr);
        gap: 290px 15px;
    }

    .image {
        display: flex;
        margin-left: 64px;
    }
}