.human_card_image{
    max-width: 350.85px;
    margin-bottom: 12.04px;

    img {
      width: 100%;
      height: 100%;
    }
    
    @media (max-width: 1735px) {
      max-width: 320.85px;
    }

    @media (max-width: 780px) {
      max-width: 71.55px;
      margin-bottom: 2.44px;
    }
}