@import '../../../../../styles/variables';
@import '../../../../../styles/mixins.scss';

:global(:root[lang="he"]) {
  :local .forgot_password{
    &__expiration{
      flex-direction: row-reverse;
    }
  }
}

.forgot_password{
  &__main_section{
    margin: 0 120px 208px;
    form{
      margin: 72px 0 0;
    }
  }
  &__field {
    span {
      opacity: 0;
    }
    .error {
      opacity: 1;
    }
  }
  &__expiration{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include customFont(25px, 32.55px, 400, #525252);
    column-gap: 10px;
    b{
      @include customFont(28px, 38.13px, 500, #525252);
      text-transform: uppercase;
    }
    &_colored{
      color: $error-color;
      b{
        color: $error-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .forgot_password{
    &__main_section{
      margin: 0 35px 70px;
      form{
        margin: 20px 0 0;
      }
    }
    &__expiration{
      margin-top: 20px;
      column-gap: 3px;
      @include customFont(7px, 8px, 400, #525252);
      b{
        @include customFont(7px, 9px, 500, #525252);
      }
    }
    &__button{
      &_text{
        font-size: 6px;
      }
    }
  }
}