@import '../../../../../styles/variables';
@import '../../../../../styles/mixins.scss';

.forgot_password{
  &__main_section{
    margin: 0 120px 208px;
    form{
      margin: 65px 0 0;
    }
  }
  &__field {
    span {
      opacity: 0;
    }
    .error {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .forgot_password {
    &__main_section{
      margin: 0 34px 59px;
      form{
        margin: 20px 0 0;
      }
    }
      &__button {
          &_text {
            font-size: 6px;
          }
      }
  }
}