@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.benefit_item{
  background: transparent;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    margin: 0 0 20px 0;
    font-family: '__Akshar_086dc9', '__Akshar_Fallback_086dc9';
  }
  &__subtitle{
    font-family: '__Fredoka_d35ece', '__Fredoka_Fallback_d35ece';
  };
}

.benefit_image{
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .benefit_item{
    &__title{
      margin: 0 0 10px 0;
      font-size: 13px;
    }
    &__subtitle{
      font-size: 10px;
      line-height: 12px;
    }
  }
  
  .benefit_image{
    margin-bottom: 18px;
    max-width: 77px;
    max-height: 77px;
  }
}