@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.menu_button {
    display: none;
}


@media (max-width: 768px) {
    .menu_button {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 22px;
        height: 14px;
        cursor: pointer;
        z-index: 26;

        &.closed {
            position: absolute;
        }
        &.open{
            position: fixed;
            top: 16px;
            right: 18px;
        }
        &.closed,
        &.open{
            width: 22px;
            height: 14.13px;
            cursor: pointer;

            .line {
                width: 100%;
                height: 2px;
                background-color: $primary-green;
                transition: transform 0.3s ease-in-out;

                &:nth-of-type(1) {
                    transform-origin: top left;
                }

                &:nth-of-type(2) {
                    opacity: 1;
                    transform-origin: center;
                }

                &:nth-of-type(3) {
                    transform-origin: bottom left;
                }
            }
        }
    }
}