@import '../../../../../styles/variables';
@import '../../../../../styles/mixins.scss';

.forgot_password{
  &__main_section{
    margin: 0 101px 312px;
    form{
      margin: 72px 0 0;
    }
  }
  &__button {
    &_text {
        margin: 0;
        cursor: pointer;
    }
  }
}

@media (max-width: 1735px) {
  .forgot_password {
      &__button {
          &_text {
              @include customFont(20px, 29.06px, 500, $dark-text-color);
          }
      }
  }
}

@media (max-width: 1200px) {
  .forgot_password{
    &__main_section{
      margin: 0 50px 150px;
    }
    form{
      margin: 50px 0 0;
    }
    &__button {
      &_text {
          @include customFont(15px, 22.08px, 500, $dark-text-color);
      }
    }
  }
}

@media (max-width: 1000px) {
  .forgot_password {
      &__button {
          &_text {
              @include customFont(10px, 15.08px, 500, $dark-text-color);
          }
      }
  }
}

@media (max-width: 915px) {
  .forgot_password{
    &__main_section{
      margin: 0 27px 49px;
    }
    form{
      margin: 28px 0 0;
    }
  }
}



@media (max-width: 780px) {
  .forgot_password {
      &__button {
          &_text {
              @include customFont(6px, 7.81px, 500, $dark-text-color);
          }
      }
  }
}