@import '../../../styles/variables';
@import '../../../styles/mixins.scss';

.category {
  display: flex;
  align-items: center;
  column-gap: 74px;
  row-gap: 7px;

  &__title {
    box-sizing: border-box;
    width: 166px;
  }

  &__list {
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    font-family: '__Montserrat_Fallback_f4d50f', '__Montserrat_Fallback_Fallback_f4d50f';
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  &__label {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background: $button-light-color;
    border-radius: 20px;
    box-sizing: border-box;
    width: 230px;
    min-height: 80px;
    transition: background .2s, border .2s;
    box-shadow: 0px 4px 4px 0px #00000040;

    box-shadow: -4px 0px 4px 0px #00000040;


    &:hover {
      background: $button-dark-color;
    }
  }

  input[type="radio"]:checked+label,
  input[type="checkbox"]:checked+label {
    background: $button-dark-color;
  }

  input[type="radio"]:disabled+label {
    opacity: .4;
    cursor: default;

    &:hover {
      background: $button-light-color;
    }
  }
}

@media (max-width: 768px) {
  .category {
    column-gap: 33px;

    &__title {
      width: 48px;
    }

    &__list {
      row-gap: 10px;
      column-gap: 8px;
    }

    &__label {
      border-radius: 5px;
      width: 56px;
      min-height: 20px;
      box-shadow: 0px 0.9584113955497742px 0.9584113955497742px 0px #00000040;
      box-shadow: -0.9584113955497742px 0px 0.9584113955497742px 0px #00000040;
      &_text{
        font-size: 6px;
      }
    }
  }
}