.reviewsBlock {
    display: flex;
    flex-direction: row;
    margin-top: 182px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    .title {
        display: flex;
        position: relative;
        margin-top: 70px;
        margin-left: 149px;
        margin-bottom: 128px;
    }
}