@import '../../../../../styles/variables';
@import '../../../../../styles/mixins.scss';

.forgot_password{
  &__main_section{
    margin: 0 192px 383px;
  }
  &__text{
    @include customFont(28px, 36.46px, 500, $dark-text-color);
    display: flex;
    column-gap: 37px;
    margin-top: 74px;
  }
  &__key_icon{
    width: 32px;
    height: 32px;
    background: url(../../../../../public/icons/Key.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__button {
    &_text {
      margin: 0;
      cursor: pointer;
    }
  }
}

@media (max-width: 1735px) {
  .forgot_password {
      &__button {
          &_text {
              @include customFont(20px, 29.06px, 500, $dark-text-color);
          }
      }
  }
}

@media (max-width: 1200px) {
  .forgot_password{
    &__main_section{
      margin: 0 50px 150px;
    }
    &__button {
      &_text {
          @include customFont(15px, 22.08px, 500, $dark-text-color);
      }
    }
  }
}

@media (max-width: 1000px) {
  .forgot_password {
      &__button {
          &_text {
              @include customFont(10px, 15.08px, 500, $dark-text-color);
          }
      }
  }
}

@media (max-width: 915px) {
  .forgot_password{
    &__main_section{
      margin: 0 52px 98px;
    }
    &__text{
      @include customFont(7.78px, 10.13px, 500, $dark-text-color);
      column-gap: 10px;
      margin-top: 19px;
    }
    &__key_icon{
      width: 9px;
      height: 9px;
    }
  }
}

@media (max-width: 780px) {
  .forgot_password {
      &__button {
          &_text {
              @include customFont(6px, 7.81px, 500, $dark-text-color);
          }
      }
  }
}