.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    background: #FFF;
    padding: 26px 38px;
    gap: 22px;

    .textBlock {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .image {
        display: flex;
        min-width: 54px;
        min-height: 54px;
    }
}