// Color variables
$light-xl: #fff;
$dark-xl: #0C152F;
$primary-color: #4B6ED1;
$secondary-color: #F1F1F1;
$placeholder-color: #52525280;
$error-color: #D02F2F;
$button-light-color: #96A7D7;
$button-dark-color: #385BBC;