.container {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 2px solid #ACACAC;
    background: #FFF;
    padding: 20px 112px 20px 45px;
    justify-content: space-between;
    align-items: center;
    
    .title {
        display: flex;
        width: 395px;
    }

    .descriptionContainer {
        display: flex;
        width: 667px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 239px;
        height: 76px;
        border-radius: 20px;
        background: #F4AA00;
        box-shadow: 0px 6px 8px 0px #B98100;
        font-family: Noto Sans Hebrew;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}

