@import '../../../../styles/variables';
@import '../../../../styles/mixins.scss';

:global(:root[lang="he"]) {
  :local .forgot_password{
    &__field{
      span{
        right: 460px;
      }
    }
  }
}

.forgot_password {
  font-family: 'Inter', sans-serif;
  padding-top: 124px;
  &__button {
    margin: auto;
    margin-top: 67px;
  }

  form {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-content: center;
    max-width: 564px;
    row-gap: 10px;

    input {
      @include customFont(25px, 30px, 400, $dark-text-color);
      border-radius: 35px;
      padding: 25px 25px 25px;
      min-width: 564px;
      border: none;
      outline: none;
      box-sizing: border-box;
      background: #9DD085;
      font-family: 'Inter', sans-serif;

      &::placeholder {
        @include customFont(25px, 30px, 400, #FFFFFF99);
      }
    }
  }

  &__field {
    position: relative;

    span {
      top: 50%;
      transform: translateY(-50%);
      right: 37px;
      position: absolute;
      @include customFont(17px, 21px, 400, #AB2121);
      font-family: 'Inter', sans-serif;
    }

    .error {
      opacity: 1 !important;
      &+input {
        color: #AB2121;
      }
    }
  }

  &__title {
    font-family: 'Red Hat Text', sans-serif;
  }
}

@media (max-width: 768px) {
  .forgot_password {
    padding-top: 36px;
    &__button {
      margin-top: 19px;
      font-size: 7px;
    }

    form {
      max-width: 564px;
      row-gap: 3px;

      input {
        @include customFont(7px, 9px, 400, $dark-text-color);
        border-radius: 10px;
        padding: 7px 7px 7px;
        min-width: 160px;

        &::placeholder {
          @include customFont(7px, 9px, 400, #FFFFFF99);
        }
      }
    }

    &__field {
      span {
        right: 10px;
        @include customFont(5px, 6px, 400, #AB2121);
      }
    }

    &__title {
      font-size: 9px !important;
    }
  }
  :global(:root[lang="he"]) {
    :local .forgot_password{
      &__field{
        span{
          right: 125px;
        }
      }
    }
  }
}