@import '../../../../../styles/variables';
@import '../../../../../styles/mixins.scss';

:global(:root[lang="he"]) {
  :local .forgot_password{
    &__text {
      flex-direction: row-reverse;
    }
  }
}

.forgot_password {
  &__main_section {
    margin: 0 161px 303px;
  }

  &__text {
    @include customFont(28px, 36.46px, 500, $dark-text-color);
    display: flex;
    column-gap: 37px;
    margin-top: 74px;
  }

  &__key_icon {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 768px) {
  .forgot_password {
    &__main_section {
      margin: 0 46px 86px;
    }

    &__text {
      font-size: 9px;
      column-gap: 10px;
      margin-top: 28px;
      display: flex;
      @include customFont(9px, 10px, 500, $dark-text-color);
    }

    &__key_icon {
      width: 9px;
      height: 9px;
    }

    &__button {
      &_text {
        font-size: 6px;
      }
    }
  }
}