// Color variables
$light-xl: rgba(255, 255, 255, 1);;
$light-l: rgba(199, 248, 255, 1);
$primary-color: rgba(255, 138, 68, 1);
$primary-color-disabled: #FF8A44;
$light-s: rgba(199, 222, 235, 1);
$dark-l: rgba(145, 167, 179, 1);
$light-text-color: rgba(255, 255, 255, 1);
$dark-text-color: rgba(0, 0, 0, 1);
$human-first-card-background: #A6CBE0;
$human-center-card-background: #ADC1CD;
$human-last-card-background: #859AA7;
$placeholder-color: #D4D4D4;