@import '../../../../../styles/variables';
@import '../../../../../styles/mixins.scss';

.forgot_password{
  &__main_section{
    margin: 0 119px 264px;
    form{
      margin: 100px 0 0;
    }
  }
  &__field {
    span {
      opacity: 0;
    }

    .error {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .forgot_password {
    &__main_section{
      margin: 0 34px 75px;
      form{
        margin: 28px 0 0;
      }
    }
      &__button {
          &_text {
            font-size: 6px !important;
          }
      }
  }
}